---
layout: page
---

<!-- <h2 class="spacing">{{ page.title}}</h2>
<p>{{page.date | date: '%d %B %Y '}}</p>
{{content}}
-->
<div class="post">
  <!-- <h1 class="post-title">{{ page.title }}</h1> -->
  {{ page.date | date: '%d %B %Y   ' }}  - {{page.duration}} min read
  <p></p>
  <p></p>
  Tags: 
  {% if page.tags %}  
  {% for tag in page.tags %}
    &nbsp; 
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag  | slugify }}" class="post-tag"> {{ tag }}</a>
  {% endfor %}
  {% endif %}
  <p></p>
  <article>
    {{ content }}
  </article>
</div>

<p>&nbsp;</p>
<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
      <font size="4">
          <a href="{{ site.baseurl }}{{ post.url }}"> <small>{{ post.title }}</small>
          </a>
          </font>
      </li>
    {% endfor %}
  </ul>
</div>

<p></p>

<div class="share-page">
    <h3>Share this! </h3>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> &nbsp; 
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>&nbsp; 
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
</div>

<p>&nbsp; </p>

{% include disqus.html %}
