---
layout: page
---

<!-- <h2 class="spacing">{{ page.title}}</h2>
<p>{{page.date | date: '%d %B %Y '}}</p>
{{content}}
-->
<div class="post">
  <!-- <h1 class="post-title">{{ page.title }}</h1> -->
  {% assign num_words = page.content | strip_html | number_of_words %}
  {% assign minutes = num_words | divided_by: 100 | plus:1 %}
  {{ page.date | date: '%d %B %Y   ' }}  - {{ minutes }} min read
  <p></p>
  <p></p>
  Tags: 
  {% if page.tags %}  
  {% for tag in page.tags %}
    &nbsp; 
    <a href="/photomancer/blog/tags.html#{{ tag  | slugify }}" class="post-tag"> {{ tag }}</a>
  {% endfor %}
  {% endif %}
  <p></p>
  <article>
    {{ content }}
  </article>
</div>

<p>&nbsp;</p>
<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
      <font size="4">
          <a href="{{ site.baseurl }}{{ post.url }}"> <small>{{ post.title }}</small>
          </a>
          </font>
      </li>
    {% endfor %}
  </ul>
</div>

<p></p>

<div class="share-page">
    <h3>Share this! </h3> 
    {% include share_bar.html %}
</div>


<p>&nbsp; </p>
{% include disqus.html %}
